body {
  background-color: red;
}
body #box {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
}
body #outer {
  width: 100px;
}
body #outer {
  width: 100px;
  box-shadow: 0 0 0 0 red;
  background: url("https://tva1.sinaimg.cn/large/00831rSTgy1gdnerxegkhj30j008d3yj.jpg") 0 0 no-repeat;
}
.class {
  one: 1;
}
.class .brass {
  three: 3;
}
